font-family: "Raleway", sans-serif;
font-family: "Open Sans", sans-serif;

html body {
	padding: 80%;
}

#think {
	font-family: Raleway;
	display: flex;
}

#tweet {
	font-family: Raleway;
	display: flex;
}

#donate {
	font-family: Raleway;
	display: flex;
}

#evolve {
	font-family: Raleway;
	display: flex;
}

#apply {
	font-family: Raleway;
	display: flex;
}

#meet {
	font-family: Raleway;
	display: flex;
}

h3 {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 15px;
	color: white;
	font-size: 250%;
}
h5 {
	color: white;
}

p {
	font-family: Open Sans;
	color: white;
}

.classWithPad {
	margin: 10px;
	padding: 10px;
}

a {
	color: white;
}
