font-family: "Raleway", sans-serif;
font-family: "Open Sans", sans-serif;

html body {
	padding: 80%;
}

#think {
	font-family: Raleway;
	display: flex;
	border-color: white;
	border-width: 5px;
	border-style: solid;
	border-top: 0px;
}

#tweet {
	font-family: Raleway;
	display: flex;
	border-color: white;
	border-width: 5px;
	border-style: solid;
	border-top: 0px;
}

#donate {
	font-family: Raleway;
	display: flex;
	border-color: white;
	border-width: 5px;
	border-style: solid;
}

#evolve {
	font-family: Raleway;
	display: flex;
	border-color: white;
	border-width: 5px;
	border-style: solid;
}

#apply {
	font-family: Raleway;
	display: flex;
	border-color: white;
	border-width: 5px;
	border-style: solid;
}

#meet {
	font-family: Raleway;
	display: flex;
	border-color: white;
	border-width: 5px;
	border-style: solid;
	border-top: 0px;
}

h3 {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 15px;
	color: white;
	font-size: 250%;
}
h5 {
	color: white;
}

p {
	font-family: Open Sans;
	color: white;
}

.classWithPad {
	margin: 10px;
	padding: 20px;
}

a {
	color: white;
}

#evolve-text {
	font-family: Raleway;
	font-size: 1.35em;
}

#tweet-description {
	font-family: Raleway;
	font-size: 1.35em;
}
